.App {
margin: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.input-group {
	margin-top:10px;
	display:flex;
	flex-wrap:wrap;
}
label, input, select{
	flex-basis:150px;
}

.accessToken :not(button){
	display: inline-flex;
	overflow-x:hidden;
	max-width:600px;
	overflow-wrap:anywhere;
	font-size:.4em;
	overflow-y: scroll;
	max-height:30px;
}

.copyButton{
	padding:2px;
}
.error {
	font-weight:bold;
	color:red;
}

.result {
	display: flex;
	flex-direction:row;
	justify-content: start;
	align-items: flex-start;
}

.result-section {
	width:250px;
}
.result-time{
	width:80px;
}
